<tr>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.category %></td>
  <td><%= product.pri_color %></td>
  <td><%= product.sec_color %></td>
  <td><%= product.quantity_avail %></td>
  <td><%= link_to 'Show', product %></td>
  <% if admin_signed_in? %>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>