<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <p>
        <b>Name:</b>
        <%= @product.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @product.description %>
      </p>

      <p>
        <b>Category:</b>
        <%= @product.category %>
      </p>

      <p>
        <b>Pri color:</b>
        <%= @product.pri_color %>
      </p>

      <p>
        <b>Sec color:</b>
        <%= @product.sec_color %>
      </p>

      <p>
        <b>Quantity:</b>
        <%= @product.quantity %>
      </p>

      <% if admin_signed_in? %>       <!-- Only displays to admins -->
        <p>
          <b>Creator:</b>
          <%= Admin.find(@product.creator_admin_id).name %>
        </p>
        <p>
          <b>Last editted by:</b>
          <%= Admin.find(@product.lastedit_admin_id).name %>
        </p>
      <% end %>

      <% if admin_signed_in? %>       <!-- Only allows admin to modify product -->
        <%= link_to 'Edit', edit_product_path(@product) %> |
      <% end %>

      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>