<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Branding the website at the top-left -->
          <%= link_to "Flowers of DX", root_path, class: "brand" %>

          <div class="nav-collapse">
            <ul class="nav">
              <li>
              <%= link_to root_path do %>
                <i class="icon-home icon-black icon-active"></i> Home</a>
              <% end %>
              </li>
              <li><%= link_to 'About',  about_path %></li>
              <li><%= link_to 'Products',  products_path %></li>
            </ul>
            <ul class="nav pull-right">
            <!-- Displays buttons when logged in/out -->         
              <% if admin_signed_in? %>
                <%= render 'layouts/admincontrolbutton' %>
              <% elsif user_signed_in? %>
                <%= render 'layouts/usercontrolbutton' %>
              <% else %>
                <li><%= link_to "Admin Login", new_admin_session_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>

        </div>
    </div>
</div>